body{
    background-color: fuchsia;
    font-family: 'Pixelify Sans';font-size: 30px;
    justify-content: center;
    margin-left: 600px;
    margin-top: 200px;
    
}
h4{
    margin-left: 15px;
    font-family: 'Dancing Script';
}
#formulario{
    margin-left: 35px;
}
.botao{
    margin-left: 110px;
}
#nome{
    margin-left: 20px;
}
